@charset "UTF-8";

:root{
    --cor0:hsl(0, 100%, 74%);
    --cor1:hsl(154, 59%, 51%);
    --cor2:hsl(248, 32%, 49%);
    --cor3:hsl(249, 10%, 26%);
    --cor4:hsl(246, 25%, 77%);
}
@media screen and (min-width: 1440px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        margin: 0px;
        background: var(--cor0) url(../images/bg-intro-desktop.png) no-repeat;
        background-size: cover;
    }
    html,body{
        height: 100vh;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1083px;
        height: 800px;
    }
    article{
        text-align: left;
        margin-right: 100px;
    }
    article p{
        width: 500px;
    }
    article h1{
        width: 450px;
        font-size:50px ;
    }
    .btn-blue{
        width: 480px;
        height: 50px;
        font-size: 16px;
    }
    .btn-blue p{
    width: 420px;
    }
    input{
        width: 420px;
       
    }
    .btn-green{
        width: 442px;
        height: 50px;
    }
    .input-div{
        display: flex;
        padding: 0px 10px;
        width: 430px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid gray;
    }
}